@import url(../style.css);

body {
  background-image: url(../assets/mountains-universe-3.png);
  transition: background-image 500ms ease;
}

/* Usando :nth-child para aplicar estilos aos links clicados */
nav a:nth-child(4) {
  color: var(--nav-focus-color);
  font-size: 2.4rem;
  font-weight: 700;
}

.container {
  margin-left: 10.2rem;
  margin-top: 6.3rem;

  gap: 1.6rem;
}