@import url(../style.css);

body {
  background-image: url(../assets/mountains-universe-1.png);
}

/* Usando :nth-child para aplicar estilos aos links clicados */
nav a:nth-child(2) {
  color: var(--nav-focus-color);
  font-size: 2.4rem;
  font-weight: 700;
}

.container {
  margin: 0 auto; 
  margin-top: 17.2rem;

  align-items: center;
  gap: 2.4rem;
}

